.advantage{
    display: none;
}

@media screen and (min-width:1440px) {
    .advantage{
        padding:115px 0 35px;
        display: block;
        &__title{
            text-align: center;
            margin-bottom: 57px;
        }
        &__row{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px 60px;
        }
        &__icon{
            width: 36px;
            height: 36px;
            margin-bottom: 3px;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        &__item{
            &-title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #171616;
                margin-bottom: 33px;
            }
        }
        &__text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #171616;
            
        }
    }
}