.master{
    background: #F8F8F8;
    padding: 53px 0 33px;
    &__title{
        text-align: center;
        margin-bottom: 44px;
    }
    &__img{
        height: 258px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__video{
        height: 214px;
        margin-top: 36px;
        .item-video__body,.item-video__wrapper{
            height: 100%;
        }
    }
    &__body{
        padding: 42px 38px 32px 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(215, 215, 215, 0.25);
        margin-top: 27px;
    }
    &__list{
        list-style: disc;
        margin-left: 30px;
        li+li{
            margin-top: 5px;
        }
        &-item{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #171616;
        }
    }
    &__slider{
        position: relative;
        .swiper-button-prev,.swiper-button-next{
            &::after{
                color:#000000;
                font-size: 30px;
            }
        }
        .swiper-button-prev{
            left:26px;
        }
        .swiper-button-next{
            right:26px;
        }
        .slider-pagination{
            margin-top: 27px;
        }
       
        .swiper-pagination-bullet{
            &::before{
    
                height: 90%;
                width: 90%;
            }
            &-active{
                &::before{
    
                    height: 50%;
                    width: 50%;
                }
               
            }
        }
        
    }
}

@media screen  and (min-width:768px){
    .master{
        padding: 62px 0 58px;
        &__title{
            margin-bottom: 54px;
        }
        &__img{
            height: 312px;;
           
        }
        &__video{
            width: 297px;
            height: unset;
            margin-top: unset;
            flex-shrink: 0;
        }
        &__body{
            margin-top: unset;
            padding: 37px 38px 32px 10px;
        }
        &__slider{

           
            .swiper-button-prev{
                left:-44px;
            }
            .swiper-button-next{
                right:-44px;
            }
            .slider-pagination{
                margin-top: 39px;
            }
        }
        &__row{
            display: flex;
            gap: 0 15px;
            margin-top: 71px;
        }

        .swiper-slide{
                height: 312px;
            
                &.master__img{

                    width: 253px;
                    align-items: flex-end;
                    margin-top: auto;
                
                    img{
                        transition: all 300ms;
                        height: 268px;
                    }
                }
                &-active{
                    &.master__img{
                        width: 533px;
                        border: 1px solid unset;
                        img{
                            height: 100%;
                        }
                        
                    }
                }
            
        }
       
    }
}
@media screen  and (min-width:1440px){
    .master{
        padding: 31px 0 93px;
        &__title{
            margin-bottom: 32px;
        }
       
        &__video{
            width: 586px;
            height: 298px;
        }
        &__body{
            margin-top: unset;
            padding: 72px 38px 32px 24px;
        }
        &__slider{
            .swiper-button-prev{
                left:-44px;
                top: 66%;
            }
            .swiper-button-next{
                right:-44px;
                top: 66%;
            }
            .slider-pagination{
                margin-top: 26px;
            }
        }
        &__row{
            gap: 0 57px;
            margin-top: 109px;
        }

        .swiper-slide{
                height: 411px;
                &.master__img{
                    img{
                        height: 212px;
                    }
                }
                &-active{
                    &.master__img{
                    
                        img{
                          
                            height: 100%;
                        }
                        
                    }
                }
            
        }
       
    }
}