@font-face {
    font-family: 'Saira Stencil One';
    src: url('../font/saira/SairaStencilOne-Regular.eot');
    src: local('../font/saira/Saira Stencil One Regular'), local('SairaStencilOne-Regular'),
        url('../font/saira/SairaStencilOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/saira/SairaStencilOne-Regular.woff2') format('woff2'),
        url('../font/saira/SairaStencilOne-Regular.woff') format('woff'),
        url('../font/saira/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

