.wrapper{
    padding: 0 15px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #171616;
}

.wrapper-page{
    overflow: hidden;
}

.slider-pagination{
    text-align: center;
    // display: flex;
    .swiper-pagination-bullet{
        background: #2D4872;
        width: 18px;
        height: 18px;
        position: relative;
        opacity: unset;
        margin: 0 9px;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: block;
            width: 50%;
            height: 50%;
            border-radius: 50%;
            background: #F2F2F2;
        }
        &-active{
            &::before{

                background: inherit;
                border: 2px solid #F2F2F2;
            }
           
        }
    }
}
.form{
    &__radio{
        &-label{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px 10px;
            width: fit-content;
            input{
                display: none;
                &:checked + .form__radio-bull-wrapper{
                    border: 2px solid #2D4872;
                    background: #2D4872;
                    .form__radio-bull{
                        border: 2px solid white;
                    }
                }

            }
        }
        &-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #2D4872;
        }
        &-bull-wrapper{
            width: 18px;
            height: 18px;
            background: #F2F2F2;
            border: 2px solid #CCCCCC;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: all 300ms;
        }
        &-bull{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid  transparent;
            transition: all 300ms;
        }
    }
    &__input{

        height: 40px;
        display: inline-flex;
        border: 1px solid #CCCCCC;
        input{
            display: inline-block;
            padding: 0 13px;
            width: 100%;
            &,&::placeholder{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #595959;
                
            }
        }
    }
    &__range{
       input{
       
        width: 100%;

        &::-webkit-slider-thumb,&::-moz-range-thumb,&::-ms-thumb{
            cursor: pointer;
            
        }

      
       

        
       }
    }
    &__submit{
        background: #6CAC3D;
        border-radius: 4px;
        height: 52px;
        overflow: hidden;
        input{
            background: inherit;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            

            
         
        }
    }
}

.menu-mobile-active{
    position: relative;
    overflow: hidden;
    height: 200%;
    &::before{
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(32, 10, 10, 0.55);
        z-index: 1000;
    }

}
@media screen and (min-width:768px){
    .wrapper{
        max-width: 669px;
        margin: 0 auto;
        padding: unset;
    }
    .title{
        font-size: 42px;
        line-height: 49px;
    }
    body::before{
        content: 'middle';
        visibility: hidden;
    }
    .menu-mobile-active{
        overflow: unset;
        &::before{
            display: none;
        }
    }
}

@media screen and (min-width:1440px){
    .wrapper{
        max-width:1200px;
        position: relative;
    }
    body::before{
        content: 'large';
    }
}